#!/usr/bin/make -f

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

CFLAGS = -DOSSOLOG_COMPILE -Wall -g -Werror \
         -Wmissing-prototypes -Wcast-align

CPPFLAGS = -DBONOBO_DISABLE_DEPRECATED \
           -DBONOBO_UI_DISABLE_DEPRECATED \
	   -DEEL_DISABLE_DEPRECATED \
	   -DGCONF_DISABLE_DEPRECATED \
	   -DG_DISABLE_DEPRECATED \
	   -DGDK_DISABLE_DEPRECATED \
	   -DGNOME_DISABLE_DEPRECATED \
	   -DGNOME_VFS_DISABLE_DEPRECATED \
	   -DGTK_DISABLE_DEPRECATED \
	   -DLIBGLADE_DISABLE_DEPRECATED

%:
	dh $@

override_dh_install: build
	# Add here commands to install the package into debian/ke-recv-extra.
	$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp
	# hack the package to work
	$(MAKE) install DESTDIR=$(CURDIR)/debian/ke-recv-extra
